<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>product class modal</title>
</head>
<body>
<div th:fragment="product_class_modal_insert" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog"
     tabindex="-1" id="productClassModalInsert" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">在<span class="modal-title-span"></span>这一类别中插入子类别</h4>
                <input type="hidden" id="product-class-selected-node-id"/>
            </div>
            <div class="modal-body">
                    <form role="form" class="cmxform" id="productClassInsertForm">
                        <div class="form-group">
                            <label for="productClassNameInsert" class="control-label">子类别名称</label>
                            <input type="text" class="form-control" id="productClassNameInsert" required="required" minlength="2" maxlength="20"/>
                        </div>

                        <button type="submit" class="btn btn-primary">保存</button>
                        <button type="button" data-dismiss="modal" class="modal-close btn btn-default">取消</button>
                    </form>
            </div>
        </div>
    </div>
</div>

<div th:fragment="product_class_modal_update" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog"
     tabindex="-1" id="productClassModalUpdate" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">更新<span class="modal-title-span"></span>这一类别的名称</h4>
            </div>
            <div class="modal-body form">
                <form role="form">
                    <div class="form-group">
                        <label for="exampleInputEmail2">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email"/>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword2">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password"/>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile2">File input</label>
                        <input type="file" id="exampleInputFile2"/>
                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"/> Check me out
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:fragment="product_class_modal_delete" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog"
     tabindex="-1" id="productClassModalDelete" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">删除<span class="modal-title-span"></span>这一类以及其子类别</h4>
            </div>
            <div class="modal-body">
                请确保该类别中没有货物信息!
                <br/>
                并且删除该类别后,其子类别也会被删除!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-warning">确定</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>