<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org"
      data-layout-decorator="layout">
<head>
    <title>Home页面</title>
</head>
<body class="hold-transition skin-blue-light sidebar-mini">
<div class="wrapper">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div data-layout-fragment="content_fragment">
            <section class="content-header">
                <h1>
                    商品信息
                    <small>只包含商品信息</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#" th:href="@{/home}"><i class="fa fa-dashboard"></i>主页</a></li>
                    <li class="active">商品</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content container-fluid">
                <div th:replace="products/product_tab :: product_tab">
                    商品Tab
                </div>

            </section>
            <!-- /.content -->
        </div>
    </div>
    <!-- /.content-wrapper -->

</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->
</body>
</html>