<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org"
      data-layout-decorator="blank_page">
<head>
    <title>商品</title>
    <link rel="stylesheet" type="text/css" th:href="@{myJs/bootstrapTreeView/css/bootstrap-treeview.css}"/>
    <!--dynamic table-->
    <link th:href="@{js/advanced-datatable/css/demo_page.css}" rel="stylesheet"/>
    <link th:href="@{js/advanced-datatable/css/demo_table.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{js/data-tables/DT_bootstrap.css}"/>

    <style>
        .modal-title-span {
            color: red;
            font-size: 22px;
        }
        #product-table>thead:first-child>tr:first-child>th{
            text-align: center;
        }
        .disabled{
            cursor: not-allowed;
        }
    </style>
</head>
<body>
<div data-layout-fragment="right_content">
    <input type="hidden" id="side_item_name" value="products"/>
    <!-- page heading start-->
    <div class="page-heading">
        <h3> 商品信息 &nbsp;
            <small>商品</small>
        </h3>
        <ul class="breadcrumb panel">
            <li><a th:href="@{/home}"><i class="fa fa-home"></i> Home</a></li>
            <li class="active">商品</li>
        </ul>
    </div>
    <!-- page heading end-->

    <!--body wrapper start-->
    <div class="wrapper">
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <section class="panel">
                    <div class="panel-heading">
                        分类列表
                          <span class="tools pull-right">

                                <span>
                                    <a href="#productClassModalInsert" data-toggle="modal" id="insertOp" class="productClassOp btn fa fa-plus" ></a>
                                    <a href="#productClassModalDelete" data-toggle="modal" id="deleteOp" class="productClassOp btn fa fa-trash-o" ></a>
                                    <a href="#productClassModalUpdate" data-toggle="modal" id="updateOp" class="productClassOp btn fa fa-refresh" ></a>
                                </span>
                                <a class="fa fa-chevron-up" href="javascript:;"></a>
                            </span>
                    </div>
                    <div class="panel-body">
                        <div id="bootstrapTree"></div>
                        <div th:replace="products/productClassModal :: product_class_modal_insert"></div>
                        <div th:replace="products/productClassModal :: product_class_modal_update"></div>
                        <div th:replace="products/productClassModal :: product_class_modal_delete"></div>
                    </div>
                </section>
            </div>
            <div id="product_table_row">
                <div id="product_table_data" class="col-md-8 col-lg-9">
                    <div th:replace="products/productTable :: product_table"></div>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- ./wrapper -->

<!-- custom JS SCRIPTS -->
<div data-layout-fragment="custom_script">
    <script th:src="@{myJs/bootstrapTreeView/js/bootstrap-treeview.js}"></script>
    <script th:src="@{myJs/bootstrapTreeView/js/tree-init.js}"></script>
    <!--dynamic table-->
    <script type="text/javascript" language="javascript" th:src="@{js/advanced-datatable/js/jquery.dataTables.js}"></script>
    <script type="text/javascript" th:src="@{js/data-tables/DT_bootstrap.js}"></script>
    <!--dynamic table initialization -->
    <script th:src="@{myJs/product/product_table_init.js}"></script>

    <script type="text/javascript" th:src="@{myJs/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{myJs/product/validation-init.js}"></script>
    <script type="text/javascript">
        $().ready(function () {
            //选中left_side对应条目
            var sideItemName = $("#side_item_name").val();
            var sideItemId = "side_item_" + sideItemName;
            $("#" + sideItemId).addClass("active");
            //初始化类别树
            TreeView.init();

            ProductClassValidate.init();

        });
    </script>
</div>
</body>
</html>