<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>product class modal</title>
</head>
<body>

<div th:fragment="stock_in_modal" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog"
     tabindex="-1" id="stockInModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">为<span id="stock-in-modal-title-span" class="label label-danger"></span>增加库存</h4>
            </div>
            <div class="modal-body">
            <form role="form" class="cmxform form-horizontal" id="stockInForm">
                <div class="form-group">
                    <label for="stock_position" class="control-label col-md-2">存放位置</label>
                    <div class="col-md-4">

                            <input id="stock_position" name="stock.position" type="text" class="tags" />

                        <!--<input id="stock_position" type="text" class="form-control" maxlength="40"/>-->
                    </div>
                    <label for="stock_countOfPieces" class="control-label col-md-2">入库数量</label>
                    <div class="col-md-4">
                        <div class="input-group" id="stock_countOfPieces_ig">
                            <input id="stock_countOfPieces" type="text" class="form-control "
                                   name="stock.countOfPieces"
                                   required="required" digits="true"/>
                            <span class="input-group-addon">片</span>
                        </div>
                    </div>
                    <br/>

                </div>
                <div class="form-group">
                    <label for="stock_countOfPieces" class="control-label col-md-2">入库单价</label>
                    <div class="col-md-4">
                        <div class="input-group" id="product_unitPrice_ig">
                            <input id="product_unitPrice" type="text" class="form-control "
                                   name="product.unitPrice"
                                   required="required" number="true"/>
                            <span class="input-group-addon">元/片</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group alert alert-info">这里使用“移动加权平均法”计算单价<br/>即(本次入库前结存商品金额+本次入库商品金额)/(本次入库前结存商品数量+本次入库商品数量 )</div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-1">
                        <input type="hidden" id="product_id" name="product.id"/>
                        <input type="hidden" id="old_product_unitPrice" name="oldProductUnitPrice"/>
                        <input type="hidden" id="old_stock_countOfPieces" name="oldStockCount"/>
                        <input type="hidden" id="stock_id" name="stock.id"/>
                        <button type="submit" class="btn btn-primary">保存</button>
                        <i class="submit_spinner"></i>
                        <button type="button" data-dismiss="modal" class="modal-close btn btn-default">取消
                        </button>
                    </div>
                </div>
            </form>

        </div>
        </div>
    </div>
</div>
</body>
</html>