<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<body>
<h1>This is Foot JS Fragment</h1>
    <div th:fragment="foot_js" th:remove="tag">
        <script th:src="@{js/jquery-1.10.2.min.js}"></script>
        <script th:src="@{js/jquery-ui-1.9.2.custom.min.js}"></script>
        <script th:src="@{js/jquery-migrate-1.2.1.min.js}"></script>
        <script th:src="@{js/bootstrap.min.js}"></script>
        <script th:src="@{js/modernizr.min.js}"></script>
        <script th:src="@{js/jquery.nicescroll.js}"></script>


        <!--common scripts for all pages-->
        <script th:src="@{js/scripts.js}"></script>
    </div>
</body>

</html>