<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org"
        data-layout-decorator="blank_page">
<head>
    <title>Home</title>

</head>
<body>
    <div data-layout-fragment="right_content">
        <input type="hidden" id="side_item_name" value="home"/>
        <!-- page heading start-->
        <div class="page-heading">
            <h3>Home</h3>
            <ul class="breadcrumb panel">
                <li class="active"><i class="fa fa-home"></i> Home</li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            Body contents goes here
        </div>
        <!--body wrapper end-->
    </div>

    <div data-layout-fragment="custom_script">
        <script type="text/javascript">
            $(function(){
                var sideItemName = $("#side_item_name").val();
                var sideItemId = "side_item_" + sideItemName;
                $("#"+sideItemId).addClass("active");
            });
        </script>
    </div>
</body>
</html>